<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/availableMedicine.css">  
    <script src="https://kit.fontawesome.com/b72338cef3.js"></script> 
</head>
<body>
    <header>
        <nav>
            <div class="logo"><img src="/css/my_logo.jpg" alt="logo">
                <span style="font-weight: bolder;color: aquamarine;">MED</span>
                <span style="font-weight: bold;">Ease</span>
            </div>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="services.html">
                    <li>Services</li>
                </a>
                <a href="#">
                    <li>About Us</li>
                </a>
                <a href="#">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </header>
<div class="container">
        <h2 style="text-align: center;color: aqua;font-size: 55px;">Available Medicine</h2>
        <table>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Company</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody style="color:white;">
                <tr th:each="p :${pharmacy}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.company}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td><a href="@{/deleteMed/{id}(id=${p.id})"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>