<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header>
        <nav>
            <div class="logo"><img src="/css/my_logo.jpg" alt="logo">
                <span style="font-weight: bolder;color: aquamarine;">MED</span>
                <span style="font-weight: bold;">Ease</span>
            </div>
            <ul>
               <li> <a href="/">
                    Home
                </a></li>
               <li> <a href="/services">
                    Services</a></li>
                <li>
                <a href="/aboutUs">
                    About Us
                </a></li>
                <li>
                <a href="/contact">
                    Contact
                </a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <img src="/css/vector.png" alt="image">
        <div class="heading">
            <h1 style="font-size: 72px;">Pharmacy Management System</h1>
            <p style="font-size: 20px;">Navigate Medicine with Ease.</p>
        </div>
    </div>
</body>
</html>