<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS</title>
    <link rel="stylesheet" href="css/services.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><img src="css/my_logo.jpg" alt="logo">
                <span style="font-weight: bolder;color: aquamarine;">MED</span>
                <span style="font-weight: bold;">Ease</span>
            </div>
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="services.html"> Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
       <a href="addMedicine"><button class="addMedicine">Add Medicine</button></a>
        <a href="availableMedicine"><button class="availableMedicine">Available Medicine</button></a>
        <a href="updateMedicine"><button class="updateMedicine">Edit Medicine</button></a>
        <!-- <button class="delete">Delete</button> -->
    </div>   
</body>
</html>