@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 75);
    font-family: sans-serif;
}
nav{
    color: antiquewhite;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 32px;
}
.logo img{
    border-radius: 50%;
    margin-left: 24px;
    height: 42px;
    width: 42px;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 24px ;
    list-style: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: yellow;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 42px;
    font-size: 24px;
    margin-right: 24px;   
}
.main{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
button{
    color: white;
    font-size: 32px;
    /* padding: 24px 84px; */
    width: 604px;
    height: 94px;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(52, 52, 214);
}
.main a{
    text-decoration: none;
    color: antiquewhite;
}
.main a:hover{
background-color:rgb(52, 52, 214) ;
}